.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style-type: none; /* Ẩn dấu chấm của các phần tử li trong ul */
  padding: 0; /* Loại bỏ khoảng đệm mặc định của ul */
  margin: 0; /* Loại bỏ khoảng cách mặc định của ul */
}

li {
  padding: 5px 0; /* Tùy chọn: thêm khoảng đệm cho các phần tử li */
}
