.admin-root-1{
    display: flex;
    // background-color: aqua;
}
.menu-admin{
    margin-top: 80px;
    // background-color: rebeccapurple;
    // display: flex;
    // justify-items: center;
    height:390px ;
    width: 330px;
    border: 1px solid silver;
    border-radius: 10px;
}
.menu-content{
width: 100%;
// border: 1px solid silver;
// border-radius: 10px;
// height: 810px;
}
.admin-root-1{
    // background-color: aquamarine;
}
